{% extends "::layout.html.twig" %}
{% block title %}
  Annonces 
{% endblock %}

{% block bundle_block %}

{% block begin_m %}
<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row double">
						<div class="12u">
						<center>
{% endblock %}

{% block fos_user_content %}{% endblock %}

{% block end_m %}
						</center>
						</div>
					</div>
				</div>
			</div>

{% endblock %}
{% endblock %}